<!DOCTYPE html>

<!--The about class, this will be our about handlebars template. !-->

			<!-- //Doug this is where the log will go. -->

			<img src="/web_assets/DBMP_logo_white.png" alt="Meadowlark Travel" /> 
				 	<h1>{{{title}}}</h1>
				 	<h2>{{{slogan}}}</h2>
				 		<p>{{{description}}}</p>
				 		<p>{{problems}}</p>
				 		
				 	<ul>
				 		 {{#each uses}}
				 		 	{{this}}
				 		 {{/#each}}
				 	</ul>
