<!--Change the keywords as needed in final version-->
<form action="/tags" method="get">
    <input type="submit" value="Tags"
           name="Tags" id="main_tags" />
</form>
<br>
<form action="/tierLists" method="get">
    <input type="submit" value="Tier Lists"
           name="tierLists" id="main_tierLists" />
</form>
<br>
<form action="/profile" method="get">
    <input type="submit" value="Profile"
           name="Profile" id="main_profile" />
</form>
<br>
<form method="post" action="/search"> <!--Change this action value for real searches-->
    Movie Title: <input type="text" name="movieSearch"> <br>
    <button>Search</button>
</form>
<br>
<form action="/logout" method="post">
    <input type="submit" value="Logout"
           name="Logout" id="main_logout" />
</form>
<br>
<h1>Main Page</h1>
<br>
<h2>Movies List</h2>
<br>
<table>
    {{#each reviewCollection}}
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            {{name}}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" action="/editReview" id="mainEditReview"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="name" value="{{name}}">
                                <input type="hidden" name="imdbID" value="{{imdbID}}">
                                {{#each comment}}
                                    <input type="hidden" name="comment" value="{{comment}}">
                                {{/each}}
                                <button>Edit Review</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/populateTags" id="mainPopulateTags"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="name" value="{{name}}">
                                <input type="hidden" name="imdbID" value="{{imdbID}}">
                                <button>Edit Tags</button>
                            </form>
                        </td>
                        {{#each comment}}
                            <td>
                                {{comment}}
                            </td>
                        {{/each}}
                    </tr>
                    <tr>
                        {{#each tags}}
                            <td>
                                {{this}}
                            </td>
                        {{/each}}
                    </tr>
                </table>
            </td>
        </tr>
    {{/each}}
</table>
