{{>navbar}} <!--Navbar Partial-->
<h1>Main Page</h1>
<br>
<h2>Movies List</h2>
<br>
<div class="row">
{{#each reviewCollection}}
	<div class="block">
		<center>{{title}}</center>
		<br>
        <a data-target="#{{imdbID}}" role="button" data-toggle="modal">
		    <img src="{{poster_URL}}" alt="HTML5 Icon" style="width:178px;height:270px;">
        </a>
		<div class='secret'>
		</div>
        <div id = "{{imdbID}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{title}}</h4>
                    </div>
                        <div class="modal-body">
                            <b>Year:</b> {{year}}
                            <br>
                            <b>Plot:</b> {{plot}}
                            <br>
                            <b>Review:</b> {{comment}}
                        </div>
                        <div class="modal-footer">
                            <div class="modalButtonDiv">
                                <form method="post" action="/populateTags" id="mainPopulateTags"> <!--Change this action value for real movie additions-->
                                    <input type="hidden" name="name" value="{{title}}">
                                    <input type="hidden" name="imdbID" value="{{imdbID}}">
                                    <button class="btn btn-default">Edit Tags</button>
                                </form>
                            </div>
                            <div class="modalButtonDiv">
                                <form method="post" action="/editReview" id="mainEditReview"> <!--Change this action value for real movie additions-->
                                    <input type="hidden" name="name" value="{{title}}">
                                    <input type="hidden" name="imdbID" value="{{imdbID}}">
                                    {{#each comment}}
                                        <input type="hidden" name="comment" value="{{comment}}">
                                    {{/each}}
                                    <button class="btn btn-default">Edit Review</button>
                                </form>
                            </div>
                            <div class="modalButtonDiv">
                                <button type="button" class="btn btn-default modalButtons" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                </div>

            </div>
        </div>
	</div>
{{/each}}
</div>
