{{>navbar}} <!--Navbar Partial-->
<h2>Add {{name}} Tags</h2>
<br>
<table>
    <tr>
        <form action="/submitPopulatedTags" method="post" id="tagsCheckboxes" class="form-inline">
                <td>
                    <input type="hidden" name="name" value="{{name}}">
                    <table>
                    {{#each tags}}
                        <tr>
                            <td>
                                <input type="checkbox" form="tagsCheckboxes" name="checkboxResults" value="{{name}}">{{name}}<br>
                            </td>
                        </tr>
                    {{/each}}
                        <tr>
                            <td>
                                <input type="hidden" name="imdbID" value="{{imdbID}}">
                                <button class="btn btn-default">Submit</button>
                            </td>
                        </tr>
                    </table>
                </td>
        </form>
    </tr>
    <tr>
    </tr>
</table>
