


                                <button class="btn btn-default">Delete</button>
                                <input type="hidden" name="index" value="{{@index}}">
                                {{this}}
                            </form>
                            </td>
                            <form method="post" action="/deleteTag" class="form-inline"> <!--Change this action value for real movie additions-->
                            <td>
                            {{name}}
                        </td>
                        </td>
                        </tr>
                        <buttonclass="btn btn-default">Delete</button>
                        <input type="hidden" name="index" value="{{@index}}">
                        <td>
                        <td>
                        <tr>
                        {{name}}
                    </form>
                    </td>
                    </tr>
                    <form method="post" action="/deleteTierList" class="form-inline"> <!--Change this action value for real movie additions-->
                    <td>
                    <tr>
                    {{#each moviesList}}
                    {{/each}}
                    {{name}}
                </table>
                </td>
                </td>
                <button class="btn btn-default">Edit Review</button>
                <button class="btn btn-default">Edit Tags</button>
                <input type="hidden" name="comment" value="{{comment}}">
                <input type="hidden" name="imdbID" value="{{imdbID}}">
                <input type="hidden" name="imdbID" value="{{imdbID}}">
                <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="name" value="{{name}}">
                <table>
                <td>
                <td>
                {{#each comment}}
                {{/each}}
                {{movieName}}
            </form>
            </form>
            </td>
            </td>
            </tr>
            </tr>
            <form method="post" action="/editReview" id="mainEditReview"> <!--Change this action value for real movie additions-->
            <form method="post" action="/populateTags" id="mainPopulateTags"> <!--Change this action value for real movie additions-->
            <td>
            <td>
            <tr>
            <tr>
            Movie Title
            {{#each tierList}}
            {{/each}}
            {{plot}}
            {{year}}<br>
           name="Create New Tag" id="profile_addTag" class="btn btn-default"/>
           name="Create New Tier List" id="profile_addTierList" class="btn btn-default"/>
        </div>
        </table>
        </td>
        </td>
        </tr>
        <br>
        <center>{{title}}</center>
        <div class='secret'>
        <img src="{{poster}}" alt="HTML5 Icon" style="width:178px;height:270px;">
        <table>
        <td>
        <td>
        <tr>
        count++;
        secrets[count].style.visibility='hidden';
        {{#each tagsCollection}}
        {{/each}}
    </div>
    </tr>
    </tr>
    </tr>
    <div class="block">
    <div class="row">
    <input type="submit" value="Create New Tag"
    <input type="submit" value="Create New Tier List"
    <tr>
    <tr>
    <tr>
    blocks[num].setAttribute("onclick", "toggleDescription(" + num + ")");
    document.getElementById(num).style.visibility='visible';
    num++;
    secrets[num].id = num;
    Tag Name: <input type="text" name="tagName" class="form-control">
    Tier List Size: <input type="text" name="tierListSize" class="form-control">
    var count = 0;
    while(count < secrets.length){
    {{#each recentlyAdded}}
    {{#each tierListsCollection}}
    {{/each}}
    {{/each}}
    };
</div>
</form>
</form>
</script>
</table>
</table>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>{{message}}</div><br>
<form action="/addTag" method="post" class="form-inline">
<form action="/addTierList" method="post" class="form-inline">
<h1>Profile Page</h1>
<h2>Movie Reviews</h2>
<h2>Recently Added</h2>
<h2>Tags</h2>
<h2>Tier Lists</h2>
<script>
<table>
<table>
<table>
function toggleDescription(num) {
var blocks = document.getElementsByClassName('block');
var num = 0;
var secrets = document.getElementsByClassName('secret');
while(num < secrets.length){
{{#each reviewCollection}}
{{/each}}
{{>navbar}} <!--Navbar Partial-->
}
}