<!--Change the keywords as needed in final version-->
<div>{{message}}</div><br>
<form action="/main" method="get">
    <input type="submit" value="Movies"
           name="Main" id="profile_main" />
</form>
<br>
<form action="/tags" method="get">
    <input type="submit" value="Tags"
           name="Tags" id="profile_tags" />
</form>
<br>
<form action="/tierLists" method="get">
    <input type="submit" value="Tier Lists"
           name="tierLists" id="profile_tierLists" />
</form>
<br>
<form method="post" action="/search"> <!--Change this action value for real searches-->
    Movie Title: <input type="text" name="movieSearch"> <br>
    <button>Search</button>
</form>
<br>
<form action="/logout" method="post">
    <input type="submit" value="Logout"
           name="Logout" id="profile_logout" />
</form>
<br>
<h1>Profile Page</h1>
<br>
<h2>Tags</h2>
<br>
<form action="/addTag" method="post">
    Tag Name: <input type="text" name="tagName">
    <input type="submit" value="Create New Tag"
           name="Create New Tag" id="profile_addTag" />
</form>
<br>
<table>
    <tr>
        {{#each tagsCollection}}
            <td>
                <table>
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            <form method="post" action="/deleteTag"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="index" value="{{@index}}">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{#each moviesList}}
                        <tr>
                            <td>
                                {{this}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </td>
        {{/each}}
    </tr>
</table>
<br>
<h2>Tier Lists</h2>
<br>
<form action="/addTierList" method="post">
    Tier List Size: <input type="text" name="tierListSize">
    <input type="submit" value="Create New Tier List"
           name="Create New Tier List" id="profile_addTierList" />
</form>
<br>
<table>
    <tr>
    {{#each tierListsCollection}}
        <td>
        <table>
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    <form method="post" action="/deleteTierList"> <!--Change this action value for real movie additions-->
                        <input type="hidden" name="index" value="{{@index}}">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            {{#each tierList}}
            <tr>
                    <td>
                        {{name}}
                    </td>
            </tr>
            {{/each}}
        </table>
        </td>
    {{/each}}
    </tr>
</table>
<br>
<h2>Movie Reviews</h2>
<br>
<table>
    {{#each reviewCollection}}
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            {{name}}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" action="/editReview" id="mainEditReview"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="name" value="{{name}}">
                                <input type="hidden" name="imdbID" value="{{imdbID}}">
                                {{#each comment}}
                                    <input type="hidden" name="comment" value="{{comment}}">
                                {{/each}}
                                <button>Edit Review</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/populateTags" id="mainPopulateTags"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="name" value="{{name}}">
                                <input type="hidden" name="imdbID" value="{{imdbID}}">
                                <button>Edit Tags</button>
                            </form>
                        </td>
                        {{#each comment}}
                            <td>
                                {{comment}}
                            </td>
                        {{/each}}
                    </tr>
                    <tr>
                        {{#each tags}}
                            <td>
                                {{this}}
                            </td>
                        {{/each}}
                    </tr>
                </table>
            </td>
        </tr>
    {{/each}}
</table>
<br>
<h2>Recently Added</h2>
<table>
    <tr>
        <td>
            Movie Title
        </td>
    </tr>
    {{#each recentlyAdded}}
        <tr>
            <td>
                {{movieName}}
            </td>
        </tr>
    {{/each}}
</table>