
{{>navbar}} <!--Navbar Partial-->
<div>{{message}}</div><br>
<h1>Profile Page</h1>
<br>
<h2>Tags</h2>
<br>
<form action="/addTag" method="post" class="form-inline">
    Tag Name: <input type="text" name="tagName" class="form-control">
    <input type="submit" value="Create New Tag"
           name="Create New Tag" id="profile_addTag" class="btn btn-default"/>
</form>
<br>
<table>
    <tr>
        {{#each tagsCollection}}
            <td>
                <table>
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            <form method="post" action="/deleteTag" class="form-inline"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="index" value="{{@index}}">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{#each moviesList}}
                        <tr>
                            <td>
                                {{this}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </td>
        {{/each}}
    </tr>
</table>
<br>
<h2>Tier Lists</h2>
<br>
<form action="/addTierList" method="post" class="form-inline">
    Tier List Size: <input type="text" name="tierListSize" class="form-control">
    <input type="submit" value="Create New Tier List"
           name="Create New Tier List" id="profile_addTierList" class="btn btn-default"/>
</form>
<br>
<table>
    <tr>
    {{#each tierListsCollection}}
        <td>
        <table>
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    <form method="post" action="/deleteTierList" class="form-inline"> <!--Change this action value for real movie additions-->
                        <input type="hidden" name="index" value="{{@index}}">
                        <buttonclass="btn btn-default">Delete</button>
                    </form>
                </td>
            </tr>
            {{#each tierList}}
            <tr>
                    <td>
                        {{name}}
                    </td>
            </tr>
            {{/each}}
        </table>
        </td>
    {{/each}}
    </tr>
</table>
<br>
<h2>Movie Reviews</h2>
<br>
    <div class="row">
{{#each reviewCollection}}
    <div class="block">
        <center>{{title}}</center>
        <br>
        <img src="{{poster}}" alt="HTML5 Icon" style="width:178px;height:270px;">
        <div class='secret'>
            {{year}}<br>
            {{plot}}
            <form method="post" action="/editReview" id="mainEditReview"> <!--Change this action value for real movie additions-->
                <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="imdbID" value="{{imdbID}}">
                {{#each comment}}
                <input type="hidden" name="comment" value="{{comment}}">
                {{/each}}
                <button class="btn btn-default">Edit Review</button>
            </form>
            <form method="post" action="/populateTags" id="mainPopulateTags"> <!--Change this action value for real movie additions-->
                <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="imdbID" value="{{imdbID}}">
                <button class="btn btn-default">Edit Tags</button>
            </form>
        </div>
    </div>
{{/each}}
</div>

<script>
var secrets = document.getElementsByClassName('secret');
var blocks = document.getElementsByClassName('block');
var num = 0;
while(num < secrets.length){
    secrets[num].id = num;
    blocks[num].setAttribute("onclick", "toggleDescription(" + num + ")");
    num++;
}
function toggleDescription(num) {
    var count = 0;
    while(count < secrets.length){
        secrets[count].style.visibility='hidden';
        count++;
    };
    document.getElementById(num).style.visibility='visible';
}
</script>


<br>
<h2>Recently Added</h2>
<table>
    <tr>
        <td>
            Movie Title
        </td>
    </tr>
    {{#each recentlyAdded}}
        <tr>
            <td>
                {{movieName}}
            </td>
        </tr>
    {{/each}}
</table>