{{>navbar}} <!--Navbar Partial-->
<div>{{message}}</div><br>
<div class="jumbotron pageHeader" >
    <div class="container">
        <h1>{{user_search}}</h1>
    </div>
</div>
<table class="table table-hover" id="searchTable">
    <thead>
        <tr>
            <th class="text-center">
                Poster
            </th>
            <th class="text-center">
                Movie Title
            </th>
            <th class="text-center">
                Year
            </th>
            <th class="text-center">
                Director
            </th>
            <th class="text-center">
                Actors
            </th>
            <th class="text-center">
                Plot
            </th>
            <th class="text-center">
                Add?
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each displayMovies}}
            <tr>
                <td>
                    <img src="{{poster}}" alt="HTML5 Icon" style="width:178px;height:270px;">
                </td>
                <td>
                    {{title}}
                </td>
                <td>
                    {{year}}
                </td>
                <td>
                    {{director}}
                </td>
                <td>
                    {{actors}}
                </td>
                <td>
                    {{plot}}
                </td>
                <td>
                    <form method="post" action="/addMovie"> <!--Change this action value for real movie additions-->
                        <input type="hidden" name="imdbID" value={{imdbID}}>
                        <input type="hidden" name="title" value ={{title}}>
                        <button class="btn btn-default" type="submit">Add</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>